.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}


.mobileMenu {
  display: none;
}

.mobileMenuCatalog {
  display: none;
  color: gray;
}

.logoDesktop {
  display: block;
}

.logoMobile {
  display: none;
}

.flipButton {
  /* background: #ec691f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold; */
  animation: pulse 2s infinite ease-in-out;
  cursor: pointer;
}

@keyframes pulse {

  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(0, 97, 170, 0.7);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(236, 105, 31, 0);
  }
}


@media (max-width: 991px) {
  .rightMenu {
    display: none;
  }

  .mainMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  .mobileMenuCatalog {
    display: flex;
  }

  .header {
    padding: 0 10px;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
  }
}