.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mobileMenu {
  display: none;
}

.mobileMenuCatalog {
  display: none;
  color: gray;
}

.logoDesktop {
  display: block;
}

.logoMobile {
  display: none;
}

@media (max-width: 991px) {
  .rightMenu {
    display: none;
  }

  .mainMenu {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .mobileMenuCatalog {
    display: flex;
  }

  .header {
    padding: 0 10px;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
  }
}